body{
    background: lightblue;


}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
h1{
    color:rgb(6, 68, 6);
    font-weight: bold;
    margin-bottom: 70px;
    
}
.container1{
    width:200px;
    background: white;
    color:rgb(15, 91, 114);
    display: inline-block;
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
}
.title{
    font-size: 20px;
    padding: 20px;
    background:rgb(15, 91, 114);
    width:150px;
    color: white;
}
.cost{
    font-size: 20px;
    padding: 10px;
    background: white;
    width:150px;
}
.category{
    font-size: 20px;
    padding: 10px;
    background: white;
    width:150px;
}

.container2{
    background: rgb(15, 91, 114);
    color:white;
    display: inline-block;
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    width:200px;

}
.cat{
    font-size: 20px;
    padding: 10px;
    background:white;
    width:180px;
    color:rgb(15, 91, 114);
    height:15px;
}
.total{
      font-size: 20px;
    padding: 10px;
    width:150px;
}